.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 10s linear;
    height: 200px;
}

.App-header {
    background-color: #222;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.chart {
    padding-top: 10px;
    background-color: #ffffff;
}
body {
    background-color: #222;
    color: paleturquoise;
}

.username-box {
    font-size: 30px;
}