<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
</head>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<body>
    <div class="container">
        <h1 class="title"><a href="https://indico.io" class="title__link"><code>Twitter Emotion Data</code></a></h1>

        <!-- Radar Chart -->
        <div class="chart">
            <h2 class="title">Radar Chart</h2>
            <canvas id="radarChart" width="640" height="400" style="background-color: black;"></canvas>
        </div>
    </div>
    <link rel="stylesheet" src="/static/chart.css"/>
    <script type="text/javascript" src="/static/chart.js"></script>
    <script type="text/javascript">
        var data = JSON.parse('{{pydata|safe}}')
    </script>
    <script type="text/javascript">
        var radarOptions = {
            //Boolean - Whether to show lines for each scale point
            scaleShowLine: true,

            //String - Colour of the scale line
            scaleLineColor: "#999",

            //Number - Pixel width of the scale line
            scaleLineWidth: 1,

            //Boolean - Whether to show labels on the scale
            scaleShowLabels: true,

            //Interpolated JS string - can access value
            scaleLabel: "<%=value%>",

            //String - Scale label font declaration for the scale label
            scaleFontFamily: "'Arial'",

            //Number - Scale label font size in pixels
            scaleFontSize: 12,

            //String - Scale label font weight style
            scaleFontStyle: "normal",

            //String - Scale label font colour
            scaleFontColor: "#666",

            //Boolean - Show a backdrop to the scale label
            scaleShowLabelBackdrop: true,

            //String - The colour of the label backdrop
            scaleBackdropColor: "rgba(0,200,255,0.75)",

            //Number - The backdrop padding above & below the label in pixels
            scaleBackdropPaddingY: 1,

            //Number - The backdrop padding to the side of the label in pixels
            scaleBackdropPaddingX: 1,

            //Boolean - Whether we show the angle lines out of the radar
            angleShowLineOut: true,

            //String - Colour of the angle line
            angleLineColor: "rgba(255,255,255,0.3)",

            //Number - Pixel width of the angle line
            angleLineWidth: 1,

            //String - Point label font declaration
            pointLabelFontFamily: "'Arial'",

            //String - Point label font weight
            pointLabelFontStyle: "normal",

            //Number - Point label font size in pixels
            pointLabelFontSize: 12,

            //String - Point label font colour
            pointLabelFontColor: "#EFEFEF",

            //Boolean - Whether to show a dot for each point
            pointDot: true,

            //Number - Radius of each point dot in pixels
            pointDotRadius: 3,

            //Number - Pixel width of point dot stroke
            pointDotStrokeWidth: 1,

            //Boolean - Whether to show a stroke for datasets
            datasetStroke: true,

            //Number - Pixel width of dataset stroke
            datasetStrokeWidth: 1,

            //Boolean - Whether to fill the dataset with a colour
            datasetFill: true,

            //Boolean - Whether to animate the chart
            animation: true,

            //Number - Number of animation steps
            animationSteps: 200,

            //String - Animation easing effect
            animationEasing: "easeOutQuart",

            //Function - Fires when the animation is complete
            onAnimationComplete: null

        }
        // Radar Data


        var radarData = {
            labels: ["anger", "joy", "fear", "sadness", "surprise"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    data: [data['anger'], data['joy'], data['fear'], data['sadness'], data['surprise']]
                }

            ]
        }


        //Get the context of the Radar Chart canvas element we want to select
        var ctx = document.getElementById("radarChart").getContext("2d");

        // Create the Radar Chart
        var myRadarChart = new Chart(ctx).Radar(radarData, radarOptions);
    </script>
    <div class='widget widget--3x1'>
        <div class='widget-content'>
            <canvas height='160px' id='line' width='712px'></canvas>
        </div>
    </div>
</body>
</html>